.writePostMask {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.writePostMask .msg {
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
.w .main.category {
  width: 80%;
}
.w .main.category .top-nav {
  font-size: 10px;
  color: #6b6b6b;
  height: 40px;
  line-height: 40px;
}
.w .main.category .top-nav a:hover {
  text-decoration: underline;
  color: #bb0808;
}
.w .main.category .top-nav span {
  margin: 0 5px;
}
.w .main.category .description {
  border-radius: 2px;
}
.w .main.category .description .title {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #4788c7;
  padding: 0 20px;
  position: relative;
}
.w .main.category .description .title .postCount {
  position: absolute;
  top: 0;
  height: 100%;
  right: 20px;
  line-height: 40px;
}
.w .main.category .description .title .postCount span:first-child {
  color: #c8dbee;
  margin-right: 10px;
}
.w .main.category .description .title .postCount span:last-child {
  color: #fff;
}
.w .main.category .description .content {
  font-size: 12px;
  background-color: #fff;
  padding: 20px;
  height: 100px;
  position: relative;
}
.w .main.category .description .content .introduce {
  width: 60%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w .main.category .description .content .manager {
  position: absolute;
  font-size: 10px;
  top: 20px;
  right: 20px;
  width: 35%;
  height: 30px;
  line-height: 30px;
  text-align: right;
}
.w .main.category .description .content .manager a {
  margin-left: 20px;
}
.w .main.category .description .content .manager a:hover {
  color: #b10606;
}
.w .main.category .description .content > a {
  color: #4788c7;
}
.w .main .main-content {
  margin-top: 10px;
}
.w .main .main-content .tabs {
  background-color: #00669f;
  height: 50px;
  border-radius: 4px 4px 0 0;
  padding: 10px 10px 0 10px;
}
.w .main .main-content .tabs ul li {
  float: left;
}
.w .main .main-content .tabs ul li a {
  display: block;
  height: 40px;
  background: rgba(71, 136, 199, 0.5);
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
  height: 100%;
  line-height: 40px;
  margin-right: 10px;
}
.w .main .main-content .tabs ul li a:hover {
  background: #4788c7;
  color: #fff;
}
.w .main .main-content .tabs ul li a.active {
  background: #4788c7;
  color: #fff;
}
.w .main .main-content .tabs ul > a {
  float: right;
  height: 30px;
  background-color: #be1d1d;
  color: #fff;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 5px;
}
.w .main .main-content .tabs ul > a:hover {
  background-color: #770d0d;
}
.w .main .main-content table {
  width: 100%;
}
.w .main .main-content table tr td {
  text-align: center;
}
.w .main .main-content table tr td:nth-of-type(1) {
  width: 50%;
}
.w .main .main-content table tr td:nth-of-type(2) {
  width: 10%;
}
.w .main .main-content table tr td:nth-of-type(3) {
  width: 15%;
}
.w .main .main-content table tr td:nth-of-type(4) {
  width: 10%;
}
.w .main .main-content table tr td:nth-of-type(5) {
  width: 15%;
}
.w .main .main-content table thead {
  margin-bottom: 10px;
}
.w .main .main-content table thead tr:first-child {
  background-color: #4788c7;
  height: 30px;
  color: #fff;
}
.w .main .main-content table thead tr.pagination {
  background-color: #fff;
}
.w .main .main-content table thead tr.pagination td div {
  padding: 10px 20px;
}
.w .main .main-content table thead tr.pagination td div a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.w .main .main-content table thead tr.pagination td div input {
  width: 40px;
  text-align: center;
}
.w .main .main-content table thead tr.empty {
  height: 10px;
  background-color: #f7f8f9;
}
.w .main .main-content table tbody tr {
  background-color: #fff;
  border-bottom: 1px solid #e4dede;
}
.w .main .main-content table tbody tr td {
  padding: 10px;
  height: 70px;
}
.w .main .main-content table tbody tr td:nth-of-type(1) {
  text-align: left;
}
.w .main .main-content table tbody tr td:nth-of-type(1) a {
  font-style: 12px;
  height: 50px;
  display: block;
}
.w .main .main-content table tbody tr td:nth-of-type(1) a > span {
  float: left;
  color: #ce0707;
  height: 100%;
  height: 50px;
}
.w .main .main-content table tbody tr td:nth-of-type(1) a p {
  margin-left: 50px;
}
.w .main .main-content table tbody tr td:nth-of-type(1) a p span {
  color: #00669f;
}
.w .main .main-content table tbody tr td:nth-of-type(2) {
  color: #ebb93c;
  font-weight: 600;
}
.w .main .main-content table tbody tr td:nth-of-type(4) {
  color: #e72e2e;
}
.w .main .main-content table tbody tr td:nth-of-type(3) .name,
.w .main .main-content table tbody tr td:nth-of-type(5) .name {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}
.w .main .main-content table tbody tr td:nth-of-type(3) .time,
.w .main .main-content table tbody tr td:nth-of-type(5) .time {
  color: #999;
  font-size: 10px;
}
.w .main .main-content table tbody tr.listIsEmpty td {
  display: block;
  height: 400px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.w .main .main-content table tbody tr:hover {
  background: #f5efef;
}
.w .main .main-content .listIsEmpty {
  background-color: #fff;
  height: 500px;
  width: 100%;
  line-height: 400px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 100px;
}
