.head {
  height: 50px;
  background-color: #f9f3e3;
}
.head .w {
  position: relative;
  height: 100%;
}
.head .w .userInfo .avater {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 0;
  vertical-align: middle;
}
.head .w .userInfo a {
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  margin: 10px;
  line-height: 30px;
}
.head .w .userInfo a:hover {
  color: #b80606;
}
.head .w .userInfo a.msg span {
  color: #fff;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 6px;
  margin-left: 5px;
  line-height: 18px;
  text-align: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  background-color: #cc0606;
}
.head .w a {
  height: 100%;
  line-height: 50px;
}
.head .w a.login {
  right: 60px;
  position: absolute;
}
.head .w a.register {
  right: 20px;
  position: absolute;
}
.head .w a.logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
}
.head .w a.logo img {
  width: 100%;
  height: 100%;
}
